.catalog {
	// .catalog__body

	&__body {
	}

	// .catalog__list

	&__list {
		display: grid;
		grid-template: auto/1fr 1fr 1fr;
		grid-gap: 4rem 1.25rem;
		margin: 40px 0;
	}
}

@media only screen and (max-width: 1190px) {
	.catalog {
		// .catalog__body

		&__body {
		}

		// .catalog__list

		&__list {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}
