.categories {
	// .categories__menu

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.container {
}
.menu {
	// .menu__category

	&__category {
		margin-right: 11px;
		border-radius: 30px;
		box-shadow: 0 0 10px 5px #0000000f;
		cursor: pointer;
		padding: 18px 15px;
		transition-duration: 0.3s;
		&:hover {
			background: #fdd88f63;
		}

		&.active {
			border-radius: 10px;
			background: #ffc85e;
		}
	}

	// .menu__category-link

	&__category-link {
		display: inline-block;
		text-align: center;
	}
}

@media only screen and (max-width: 1190px) {
	.categories {
		display: none;
	}
}
