.catalog-sort {
	position: relative;

	&__placeholder {
		font-size: 16px;
		& span {
			font-weight: 600;
			color: #e4b454;
			margin-left: 5px;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__popup {
		position: absolute;
		top: 21px;
		z-index: 10;
		background-color: #fdfdfd;
		border-radius: 1px 1px 10px 10px;
		box-shadow: 0px 0px 1px 1px #ecd59d;
		& li:hover {
			cursor: pointer;

			color: #cd9118;
		}
	}
}
.sort {
	padding: 10px;
	&:hover {
	}

	&.active {
		border-radius: 30px;
		color: #e4b454;
	}
}
.active {
}

@media only screen and (max-width: 1190px) {
	.catalog-sort {
		margin: 25px 0 0 10px;
		&__placeholder {
		}

		// .catalog-sort__popup

		&__popup {
		}
	}
}
